<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nood.hrm.mapper.SalaryMapper">


    <!-- 新增用户，用遍历Map的key和value的方式，可以实现只插入有效值 -->
    <insert id="insertWithMap" parameterType="java.util.Map">
        insert into salary (
        <foreach collection="column2record" item="value" index="key" separator=",">
            ${key}
        </foreach>
        )
        values (
        <foreach collection="column2record" item="value" index="key" separator=",">
            #{value}
        </foreach>
        )
    </insert>


    <select id="getAllSalaryByPage" resultType="java.util.HashMap">
      select
        <foreach collection="columns" item="value" separator=",">
            ${value}
        </foreach>
      from salary limit #{startPosition}, #{limit}
    </select>


    <select id="getSalaryByFuzzyName" resultType="java.util.HashMap">
        select
        <foreach collection="columns" item="column" separator=",">
            ${column}
        </foreach>
        from salary
        <where>

            <if test="salaryConditionDto.date != null and salaryConditionDto.date != ''">
                AND ${salaryConditionDto.dateAlias} = #{salaryConditionDto.date}
            </if>

            <if test="salaryConditionDto.name != null and salaryConditionDto.name != ''">
                AND ${salaryConditionDto.departmentNameAlias} like CONCAT('%', #{salaryConditionDto.name}, '%')
                OR ${salaryConditionDto.employeeNameAlias} like CONCAT('%', #{salaryConditionDto.name}, '%')
            </if>

        </where>
        order by ${salaryConditionDto.employeeNoAlias}
    </select>

</mapper>