<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Friday-System</title>
    <header th:replace="header::html"></header>
</head>

<body class="layui-anim layui-anim-up">

<div class="x-nav">
      <span class="layui-breadcrumb">
        <a >首页</a>
        <a >工资管理</a>
        <a>
          <cite>部门工资查询</cite></a>
      </span>
    <a class="layui-btn layui-btn-primary layui-btn-sm layui-btn-radius" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">&#xe669;</i>
    </a>
</div>
<div class="x-body" id="container">
    <div class="demoTable">
        员工工号：
        <div class="layui-inline">
            <input class="layui-input" name="account" id="accountId" autocomplete="off">
        </div>&nbsp&nbsp&nbsp
        部门：
        <div class="layui-inline">
            <!--<input class="layui-input" name="id" id="dId" autocomplete="off">-->
            <div class="layui-input-inline">
                <select name="department" id="departmentId" lay-verify="required" lay-search="">
                    <option value="">直接选择或搜索选择</option>
                </select>
            </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;
        月份：
        <div class="layui-inline">
            <input name="date" id="dateId" lay-verify="date" autocomplete="off" class="layui-input" type="text" readonly>
        </div>&nbsp&nbsp&nbsp
        <button class="layui-btn" data-type="reload">搜索</button>
        <button class="layui-btn" id="download" >下载工资表格</button>
    </div>

    <div class="layui-card-body ">
        <div style="text-align: center">
            <table class="layui-table" lay-filter="salaryTable" id="salaryTableId">
            </table>
        </div>
    </div>
</div>




<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="checkboxTpl">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" disabled="" name="lock" value="{{d.sState}}" title="是" lay-filter="lockDemo" {{ d.sState== 1 ?'checked'
    : '' }}>
</script>
<script>

    //ajax获取表头 head_ids 表头对应的ID
    function  getSalaryTableHead() {
        var data = null;
        $.ajax({
            type : "get",
            url : "/salary/tableHead", //获取表头URL
            // data: {table_head : head_ids},
            async : false,   //配置是否异步操作
            dataType:"json",//返回数据类型的格式
            timeout: 5000,
        }).done(function (result) {//回调操作
            data = result;
        });
        return data;
    }

    // window.onload = function () {
    //     //加载部门下拉搜索框
    //     var dId = $("#dId");
    //     $.ajax({
    //         url:'department/findSelective.do?page=1&limit=999', //分页限制为999条，就是全部
    //         dataType:'json',
    //         type:'post',
    //         success:function(result){
    //             // console.log(result);
    //             $.each(result.data,function(index,item){
    //                 // console.log(index + "&" + item.dId);
    //                 dId.append("<option value="+item.dId+">"+item.dName+"</option>");// 下拉菜单里添加元素
    //             })
    //         }
    //     });
    // }

    layui.use(['form', 'layedit', 'laydate','table'], function(){

        var headData = getSalaryTableHead();
        console.log(headData)

        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate
            ,table = layui.table;


        table.render({
            elem: '#salaryTableId'
            ,url: '/salary/salaryTable' //数据接口
            ,type: 'get'
            ,page: true //开启分页
            ,response: {
                countName: 'count', //规定数据总数的字段名称，默认：count
                dataName: 'datas' //规定数据列表的字段名称，默认：data
            }
            ,cellMinWidth: 100
            ,cols: [
                headData
                // [ //表头
                //
                //     // {type:   'checkbox', fixed: 'left'}
                //     // ,{field: 'id', title: 'ID', align:'center', width:50}
                //     // ,{field: 'name', title: '薪酬字段'}
                //     // ,{field: 'type', title: '分类'}
                //     // ,{field: 'property', title: '性质'}
                //     // ,{field: 'detail', title: '描述'}
                //     // ,{field: 'status', title: '状态',  templet:function(d){
                //     //     return  d.status == '1' ? "启动":"禁用";
                //     // }}
                //     // ,{field: 'isDecimal', title: '是否数值',  templet:function(d){
                //     //     return  d.isDecimal == '1' ? "是":"否";
                //     // }}
                //     // ,{field: 'sort', title: '排序'}
                //     // ,{title:'操作', toolbar: '#barButtons',align:'center'}
                // ]
            ],
            done: function(){
                table.resize('salaryTable');
                // checkPermission()
            }
        });


        //年月范围
        laydate.render({
            elem: '#dateId'
            ,type: 'month'
        });

        //监听工具条

        var $ = layui.$, active = {

            reload: function(){
                var account = $('#accountId');
                var department = $('#departmentId');
                var date = $('#dateId');
                // console.log(account.val()+" "+department.val()+" "+date.val());
                // 执行重载
                table.reload('salaryTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        account: account.val(),
                        department: department.val(),
                        date: date.val()
                    }
                });
            }
        };
        function download(){
            var eAccount = $('#eAccount').val();
            var dId = $('#dId').val();
            var date = $('#date').val();
            window.location.href="downloadExcel.do?eAccount="+eAccount+"&dId="+dId+"&sTime="+date
        }
        $('#download').on('click',function () {
            download();
        })
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

</script>

</body>

</html>